<br>
<h1 align="center">Bug Name:<%= @bug.title.capitalize %></h1>
<hr />
<br><br>
<div class="row">
  <%= image_tag @bug.screenshot.url(:medium), style: "padding-left:50px;" %>
  <div class="col-md-8 well" style="padding-left: 100px;">
    <h2>Name: <%= @bug.title %> </h2>
    <p><Strong>Description: </Strong> <%= @bug.description %></p>
  

    <br>
    <p><Strong>Type: </Strong> <%= @bug.bug_type %></p>
    <p><Strong>Status: </Strong> <%= @bug.status %></p>
  </div>
  <div>
    <br>
  </div>

  <div class="col-md-8 well" style=" padding-left: 50px;">
    <div class="recipe-actions ">
      <% if can? :manage, Bug %>
        <%= link_to "Edit Profile", edit_bug_path(@bug), class: "btn btn-xs btn-warning " %>
        <%= link_to "Delete Profile", bug_path(@bug), method: :delete, class: "btn btn-xs btn-danger", data: { confirm: "Are you sure you want to delete this recipe?"} %>
      <% end %>
      <%= link_to "Return to Users list", bugs_path, class: "btn btn-xs btn-primary" %>
    </div>
  </div>
</div>
<br>
<hr />

